backend/bin/
backend/obj/
backend/.vs/
backend/*.user
backend/Tests/bin/
backend/Tests/obj/

frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.*.local

.DS_Store
*.log
.vscode/
.idea/
*.swp
*.swo
backend.Tests/obj/CnabApi.Tests.csproj.nuget.dgspec.json
backend.Tests/obj/CnabApi.Tests.csproj.nuget.g.props
backend.Tests/obj/CnabApi.Tests.csproj.nuget.g.targets
backend.Tests/obj/project.assets.json
backend.Tests/obj/project.nuget.cache
backend.Tests/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
backend.Tests/obj/Debug/net10.0/CnabApi..8A3EB516.Up2Date
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.AssemblyInfo.cs
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.AssemblyInfoInputs.cache
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.assets.cache
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.csproj.AssemblyReference.cache
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.csproj.CoreCompileInputs.cache
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.csproj.FileListAbsolute.txt
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.dll
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.GeneratedMSBuildEditorConfig.editorconfig
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.genruntimeconfig.cache
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.GlobalUsings.g.cs
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.pdb
backend.Tests/obj/Debug/net10.0/CnabApi.Tests.sourcelink.json
backend.Tests/obj/Debug/net10.0/ref/CnabApi.Tests.dll
backend.Tests/obj/Debug/net10.0/refint/CnabApi.Tests.dll
backend.Tests/bin/Debug/net10.0/.msCoverageSourceRootsMapping_CnabApi.Tests
backend.Tests/bin/Debug/net10.0/appsettings.Development.json
backend.Tests/bin/Debug/net10.0/appsettings.json
backend.Tests/bin/Debug/net10.0/Castle.Core.dll
backend.Tests/bin/Debug/net10.0/CnabApi.deps.json
backend.Tests/bin/Debug/net10.0/CnabApi.dll
backend.Tests/bin/Debug/net10.0/CnabApi.exe
backend.Tests/bin/Debug/net10.0/CnabApi.pdb
backend.Tests/bin/Debug/net10.0/CnabApi.runtimeconfig.json
backend.Tests/bin/Debug/net10.0/CnabApi.staticwebassets.endpoints.json
backend.Tests/bin/Debug/net10.0/CnabApi.Tests.deps.json
backend.Tests/bin/Debug/net10.0/CnabApi.Tests.dll
backend.Tests/bin/Debug/net10.0/CnabApi.Tests.pdb
backend.Tests/bin/Debug/net10.0/CnabApi.Tests.runtimeconfig.json
backend.Tests/bin/Debug/net10.0/CoverletSourceRootsMapping_CnabApi.Tests
backend.Tests/bin/Debug/net10.0/FluentAssertions.dll
backend.Tests/bin/Debug/net10.0/Humanizer.dll
backend.Tests/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
backend.Tests/bin/Debug/net10.0/Microsoft.Build.Locator.dll
backend.Tests/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.dll
backend.Tests/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
backend.Tests/bin/Debug/net10.0/Microsoft.CodeAnalysis.dll
backend.Tests/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.dll
backend.Tests/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
backend.Tests/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
backend.Tests/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
backend.Tests/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Design.dll
backend.Tests/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.dll
backend.Tests/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.InMemory.dll
backend.Tests/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
backend.Tests/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
backend.Tests/bin/Debug/net10.0/Microsoft.OpenApi.dll
backend.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.CommunicationUtilities.dll
backend.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.CoreUtilities.dll
backend.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.CrossPlatEngine.dll
backend.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.PlatformAbstractions.dll
backend.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.Utilities.dll
backend.Tests/bin/Debug/net10.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
backend.Tests/bin/Debug/net10.0/Microsoft.VisualStudio.TestPlatform.Common.dll
backend.Tests/bin/Debug/net10.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
backend.Tests/bin/Debug/net10.0/Mono.TextTemplating.dll
backend.Tests/bin/Debug/net10.0/Moq.dll
backend.Tests/bin/Debug/net10.0/Newtonsoft.Json.dll
backend.Tests/bin/Debug/net10.0/Npgsql.dll
backend.Tests/bin/Debug/net10.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
backend.Tests/bin/Debug/net10.0/nuget.config
backend.Tests/bin/Debug/net10.0/Swashbuckle.AspNetCore.Swagger.dll
backend.Tests/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend.Tests/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerUI.dll
backend.Tests/bin/Debug/net10.0/System.CodeDom.dll
backend.Tests/bin/Debug/net10.0/System.Composition.AttributedModel.dll
backend.Tests/bin/Debug/net10.0/System.Composition.Convention.dll
backend.Tests/bin/Debug/net10.0/System.Composition.Hosting.dll
backend.Tests/bin/Debug/net10.0/System.Composition.Runtime.dll
backend.Tests/bin/Debug/net10.0/System.Composition.TypedParts.dll
backend.Tests/bin/Debug/net10.0/testhost.dll
backend.Tests/bin/Debug/net10.0/testhost.exe
backend.Tests/bin/Debug/net10.0/xunit.abstractions.dll
backend.Tests/bin/Debug/net10.0/xunit.assert.dll
backend.Tests/bin/Debug/net10.0/xunit.core.dll
backend.Tests/bin/Debug/net10.0/xunit.execution.dotnet.dll
backend.Tests/bin/Debug/net10.0/xunit.runner.visualstudio.testadapter.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
.serena/.gitignore
.serena/project.yml
backend/.env
